body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1f23;
}

.font-sans {
  font-family: Poppins !important;
}

.remove-scrollBar {
  /* overflow: -webkit-scrollbar:none: */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

input[type="checkbox"] {
  accent-color: #6f00ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
